NODE-RED Integration/AllNodeRedFlows.json
[{"id":"5fc55198.fcc42","type":"tab","label":"HTML Page Website links","disabled":false,"info":""},{"id":"942c34f.944b9c8","type":"tab","label":"Flow 5- Main","disabled":false,"info":""},{"id":"93a1c2b.b64464","type":"tab","label":"Telegram_Integration","disabled":false,"info":""},{"id":"88f72503.c1d3d8","type":"tab","label":"Twilio Weather Data Flow","disabled":false,"info":""},{"id":"4c5f72d.4b35f8c","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"60afae7.f61045","type":"tab","label":"PWS Examples","disabled":false,"info":""},{"id":"282fafd4.df968","type":"tab","label":"PWS Dashboard","disabled":false,"info":""},{"id":"54545006.9b177","type":"telegram bot","botname":"ZHungerbot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"92ee2fa5.8c85b","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9dab1362.23e0b","type":"ui_tab","name":"Solution Zero Hunger 2021- Royal Hack Elites Team","icon":"dashboard","disabled":false,"hidden":false},{"id":"b8fb94f4.0d31d8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"f1dc1ca1.c1457","type":"ui_tab","name":"Text-Button","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"d38f81c1.07894","type":"ui_group","name":"Dashboard","tab":"9dab1362.23e0b","order":1,"disp":false,"width":"12","collapse":false},{"id":"ec617216.ee47b","type":"ui_group","name":"Weather","tab":"9dab1362.23e0b","order":2,"disp":false,"width":"12","collapse":false},{"id":"4b15af72.7c5fc","type":"ui_group","name":"Recent Yield Updates","tab":"9dab1362.23e0b","order":3,"disp":true,"width":"8","collapse":false},{"id":"6ba7b20d.74bc8c","type":"ui_group","name":"Enter Yield Updates","tab":"9dab1362.23e0b","order":4,"disp":true,"width":"4","collapse":false},{"id":"1b214600.17935a","type":"ui_group","name":"Default","tab":"b8fb94f4.0d31d8","order":1,"disp":true,"width":"12","collapse":false},{"id":"c925f0a1.c2066","type":"ui_group","name":"Group 1","tab":"f1dc1ca1.c1457","order":1,"disp":true,"width":6},{"id":"987cdaa2.476aa8","type":"ui_spacer","name":"spacer","group":"ec617216.ee47b","order":2,"width":1,"height":1},{"id":"d7f16178.de2","type":"twilio-api","name":"Twilio SMS MMS","sid":"AC3b051b94b0427cf18d88ea7b7dd5ea44","from":"+19729546181"},{"id":"2d2a8372.cbd49c","type":"pwsapikey","name":"PWC api1"},{"id":"ba693fed.4c01f8","type":"pwsapikey","name":"pwcDashboardapi"},{"id":"a91cd93c.4ca95","type":"ui_group","name":"PWS Queries","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"1bba4345.fa4d15","type":"ui_group","name":"Forecast","tab":"","order":3,"disp":true,"width":"8","collapse":false},{"id":"ada0ce32.b103c","type":"ui_group","name":"PWS Results","tab":"","order":2,"disp":true,"width":"12","collapse":false},{"id":"ff1606f8.e2ed08","type":"http in","z":"5fc55198.fcc42","name":"BOT Home Page","url":"/home","method":"get","upload":false,"swaggerDoc":"","x":180,"y":180,"wires":[["760f6a.cc590098"]]},{"id":"4e013803.16a468","type":"template","z":"5fc55198.fcc42","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!--\n# Copyright 2020\n# \n#Code Modified , Author : Data Dragons\n-->\n\n<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>\n\t  ZHunger: Prune The Hunger Within\n\t</title>\n\t\n\t\n\t<style>{{{payload.css}}}</style>\n  </head>\n <body onload=\"myFunction()\">\n<div id=\"loading\"></div>\n<header>\n\t\n\t<div class=\"header_menu\">\n\t\t\n\t\t<div class=\"menu_list\">\n\t\t\t<ul>\n\t\t\t\t<li><a href=\"#\" >home</a></li>\n\t\t\t\t<li><a href=\"https://t.me/ZHungerbot\">Telegram</a></li>\n\t\t\t\t<li><a href=\"https://www.un.org/sustainabledevelopment/hunger/\">More Info</a> </li>\n\t\t\t\t<li><a href=\"https://node-red-bsapj-2021-07-21.eu-gb.mybluemix.net/aboutus\">aboutus</a></li>\n\t\t\t\t<li><a href=\"https://node-red-bsapj-2021-07-21.eu-gb.mybluemix.net/contact\">contact us</a></li>\n\t\t\t\t<li><a href=\"https://node-red-bsapj-2021-07-21.eu-gb.mybluemix.net/feedback\">feedback</a></li>\n\t\t\t</ul>\n\t\t</div>\n\t</div>\n\n\t<div class=\"header_content\">\n\t\t<h2>Bikash Kumar Sethy / Purvaja Joshi</h2>\n\t\t<h1>ROYAL HACK ELITES</h1>\n\t\t<button><a href=\"https://www.youtube.com/watch?v=MCnOLRmb1r8\">\n\t\t\tWatch me\n\t\t</a></button>\n\n\t\t<button><a href=\"https://node-red-bsapj-2021-07-21.eu-gb.mybluemix.net/ZHungerr\">\n\t\t\tAsk me\n\t\t</a></button>\n\t</div>\n</header>\n\n<br>\n\t<div style=\"text-align: center\">\n\t\t<h2 id=\"thapatext\"  style=\"\tfont-family: 'Dosis', sans-serif;\">Data Dragons CovBot YouTube Video</h2><br>\n\t\t<iframe width=\"560\" height=\"315\" src=\"https://www.youtube.com/watch?v=d_ecGTmtRCo\" frameborder=\"0\" allow=\"autoplay; encrypted-media\" allowfullscreen></iframe>\n\t</div>\n\t<br><br>\n\t<footer style=\"width: 100%;height: 100px; background-color: #010101;\">\n\t\t<h4 style=\"color: white; font-family: 'Dosis', sans-serif; line-height: 100px; text-align: center\"> @Copyright Data Dragons </h4>\n\t</footer>\n\t  \n\t\t\n    <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-2.1.4.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n    \n    <script>{{{payload.script}}}</script>\n  </body>\n</html>\n","x":970,"y":180,"wires":[["903e44af.f71bb8"]]},{"id":"fa910a97.1248d8","type":"template","z":"5fc55198.fcc42","name":"Css","field":"payload.css","fieldType":"msg","format":"css","syntax":"mustache","template":"*{\npadding: 0;\nmargin: 0;\n}\n\n#loading{\n\tposition: fixed;\n\twidth: 100%;\n\theight: 100vh;\n\tbackground: #fff\n\turl('http://garudapr.in/wp-content/uploads/2017/12/loader.gif')\n\t no-repeat center center;\t\n\tz-index: 99999;\n}\n\nheader{\nwidth: 100%;\nheight: 100vh;\nbackground-color :black;\nbackground-size: cover;\nfont-family: 'Dosis', sans-serif;\n}\n.header_menu{\nwidth: 100%;\nheight: 100px;\ndisplay: flex;\nflex-direction: row;\nalign-items: center;\n/*\tborder:1px solid red;*/\n}\n.logo{\nwidth: 20%;\ntext-align: center;\n}\n.logo img{\nheight: 300px;\n}\n.menu_list{\nwidth: 80%;\ntext-align: right;\npadding-right: 50px;\n}\n.menu_list li{\ndisplay: inline-block;\ntext-transform: uppercase;\nlist-style: none;\nletter-spacing: 2px;\npadding-left: 50px;\n}\n.menu_list li a{\ncolor:rgba(255, 255, 255, .8);\ntext-decoration: none;\n}\n.menu_list li a:hover{\ncolor:orange;\n}\n.header_content{\ntext-transform: uppercase;\nwidth: 100%;\nheight: 200px;\nposition: absolute;\ntop: 50%;\nleft: 50%;\ncolor:rgba(255, 255, 255, .8);\ntransform: translate(-50%, -50%);\ntext-align: center;\n/*\tborder:1px solid red;*/\n}\n.header_content h2{\nmargin-bottom: 50px;\nfont-size: 17px;\nfont-weight: 500;\nletter-spacing: 0.3em;\n}\n.header_content h1{\nmargin-bottom: 50px;\nfont-size: 50px;\nfont-weight: 500;\nletter-spacing: 0.7em;\n}\n.header_content button{\nheight: auto;\npadding:8px 37px;\ncolor:#fff;\nfont-size: 12px;\nbackground-color: transparent;\nmargin-right: 20px;\n}\n.header_content button a{\ntext-transform: uppercase;\ntext-decoration: none;\ncolor: white;\nletter-spacing: 1px;\n}\n.header_content button:hover{\nbackground-color: orange;\nborder:1px solid white;\n}","output":"str","x":810,"y":180,"wires":[["4e013803.16a468"]]},{"id":"760f6a.cc590098","type":"template","z":"5fc55198.fcc42","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"var preloader = document.getElementById(\"loading\");\n\t\t// window.addEventListener('load', function(){\n\t\t// \tpreloader.style.display = 'none';\n\t\t// \t})\n\n\t\tfunction myFunction(){\n\t\t\tpreloader.style.display = 'none';\n\t\t};","output":"str","x":610,"y":180,"wires":[["fa910a97.1248d8"]]},{"id":"ec877cba.d9ac1","type":"http in","z":"5fc55198.fcc42","name":"BOT Contact Page","url":"/contact","method":"get","upload":false,"swaggerDoc":"","x":190,"y":300,"wires":[["d3fb83d3.beebd"]]},{"id":"430b2dae.28aae4","type":"template","z":"5fc55198.fcc42","name":"Css","field":"payload.css","fieldType":"msg","format":"css","syntax":"mustache","template":"body{\n  margin: 0;\n  padding: 0;\n  background-color : black;\n  background-size: cover;\n}\n.box{\n  width: 450px;\n  background: rgba(0, 0, 0, 0.4);\n  padding: 40px;\n  text-align: center;\n  margin: auto;\n  margin-top: 5%;\n  color: white;\n  font-family: 'Century Gothic',sans-serif;\n  border : 1px solid #ccc;\n}\n.box-img{\n  border-radius: 50%;\n  width: 200px;\n  height: 200px;\n}\n.box h1{\n  font-size: 40px;\n  letter-spacing: 4px;\n  font-weight: 100;\n}\n.box h5{\n  font-size: 20px;\n  letter-spacing: 3px;\n  font-weight: 100;\n}\n.box p{\n  text-align: justify;\n}\n\n.social-menu ul {\n    position: relative;\n    top: 50%;\n    left: 50%;\n    transform: translate(-40%, 0%);\n    padding: 0;\n    margin: 0;\n    display: flex;\n}\n.social-menu ul li {\n    list-style: none;\n    margin: 0 10px;\n}\n.social-menu ul li .fa {\n    color: #000000;\n    font-size: 25px;\n    line-height: 50px;\n    transition: .5s;\n}\n.social-menu ul li .fa:hover {\n    color: #ffffff;\n}\n.social-menu ul li a {\n    position: relative;\n    display: block;\n    width: 50px;\n    height: 50px;\n    border-radius: 50%;\n    background-color: white;\n    text-align: center;\n    transition: 0.5s;\n    transform: translate(0,0px);\n    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);\n}\n.social-menu ul li a:hover {\n    transform: rotate(0deg) skew(0deg) translate(0, -10px);\n}\n.social-menu ul li:nth-child(1) a:hover {\n    background-color: #3b5999;\n}\n.social-menu ul li:nth-child(2) a:hover {\n    background-color: #55acee;\n}\n.social-menu ul li:nth-child(3) a:hover {\n    background-color: #e4405f;\n}\n.social-menu ul li:nth-child(4) a:hover {\n    background-color: #cd201f;\n}\n.social-menu ul li:nth-child(5) a:hover {\n    background-color: #db4a39;\n}","output":"str","x":810,"y":300,"wires":[["24fc0b76.f98b74"]]},{"id":"d3fb83d3.beebd","type":"template","z":"5fc55198.fcc42","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"","output":"str","x":610,"y":300,"wires":[["430b2dae.28aae4"]]},{"id":"8cd76d30.70855","type":"http in","z":"5fc55198.fcc42","name":"BOT Feedback Page","url":"/feedback","method":"get","upload":false,"swaggerDoc":"","x":200,"y":420,"wires":[["e284f9cb.2f23c8"]]},{"id":"d5a0118.a8a67f","type":"template","z":"5fc55198.fcc42","name":"Css","field":"payload.css","fieldType":"msg","format":"css","syntax":"mustache","template":"@import url('https://fonts.googleapis.com/css?family=Roboto');\n\n*{\n  margin: 0;\n  padding: 0;\n  box-sizing: border-box;\n  outline: none;\n  font-family: 'Roboto', sans-serif;\n}\n\nbody{\n    background-color : #3586ff;\n  background-size: cover;\n  height: 100vh;\n}\n\n.wrapper{\n  position: absolute;\n  top: 50%;\n  left: 50%;\n  transform: translate(-50%, -50%);\n  width: 100%;\n  max-width: 550px;\n  background: rgba(0,0,0,0.8);\n  padding: 30px;\n  border-radius: 5px;\n  box-shadow: 0 0 10px rgba(0,0,0,0.3);\n}\n\n.wrapper .title h1{\n  color: #c5ecfd;\n  text-align: center;\n  margin-bottom: 25px;\n}\n\n.contact-form{\n  display: flex;\n}\n\n.input-fields{\n  display: flex;\n  flex-direction: column;\n  margin-right: 4%;\n}\n\n.input-fields,\n.msg{\n  width: 48%;\n}\n\n.input-fields .input,\n.msg textarea{\n  margin: 10px 0;\n  background: transparent;\n  border: 0px;\n  border-bottom: 2px solid #c5ecfd;\n  padding: 10px;\n  color: #c5ecfd;\n  width: 100%;\n}\n\n.msg textarea{\n  height: 212px;\n}\n\n::-webkit-input-placeholder {\n  /* Chrome/Opera/Safari */\n  color: #c5ecfd;\n}\n::-moz-placeholder {\n  /* Firefox 19+ */\n  color: #c5ecfd;\n}\n:-ms-input-placeholder {\n  /* IE 10+ */\n  color: #c5ecfd;\n}\n\n.btn {\n    background: #39b7dd;\n    text-align: center;\n    padding: 15px;\n    border-radius: 5px;\n    color: #fff;\n    cursor: pointer;\n    text-transform: uppercase;\n}\n\n@media screen and (max-width: 600px){\n  .contact-form{\n    flex-direction: column;\n  }\n  .msg textarea{\n    height: 80px;\n  }\n  .input-fields,\n  .msg{\n    width: 100%;\n  }\n}\n\n.radio-inline{\n\tcursor : pointer;\n\t\n\t}\n\tlabel{\n\tcolor : #c5ecfd;\n\tpadding: 5px;\n\tfont-size: 15px;\n\t}","output":"str","x":810,"y":420,"wires":[["e4c09b6.f39b168"]]},{"id":"e284f9cb.2f23c8","type":"template","z":"5fc55198.fcc42","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"function myFunction() {\n    var x = document.forms[\"myForm\"][\"fname\"].value;\n  if (x == \"\") {\n    alert(\"Name must be filled out\");\n    return false;\n  }\n  var email = document.forms[\"myForm\"][\"email\"].value;\n  if (email == \"\") {\n    alert(\"Email must be filled out\");\n    return false;\n  }\n  var phone = document.forms[\"myForm\"][\"phone\"].value;\n  if (phone == \"\") {\n    alert(\"Phone number must be filled out\");\n    return false;\n  }\n   var subject = document.forms[\"myForm\"][\"subject\"].value;\n  if (subject == \"\") {\n    alert(\"Subject must be filled out\");\n    return false;\n  }\n  var message = document.forms[\"myForm\"][\"msg\"].value;\n  if (message == \"\") {\n    alert(\"Message must be filled out\");\n    return false;\n  }\n  document.getElementById(\"myForm\").reset();\n  alert('Thanks for your valuable Feedback ! Your Feedback hasbeen received !')\n  \n  \n}","output":"str","x":610,"y":420,"wires":[["d5a0118.a8a67f"]]},{"id":"903e44af.f71bb8","type":"http response","z":"5fc55198.fcc42","name":"","statusCode":"","headers":{},"x":1110,"y":180,"wires":[]},{"id":"afa519e8.11b918","type":"http response","z":"5fc55198.fcc42","name":"","statusCode":"","headers":{},"x":1110,"y":300,"wires":[]},{"id":"39b5880d.23dfb8","type":"http response","z":"5fc55198.fcc42","name":"","statusCode":"","headers":{},"x":1110,"y":420,"wires":[]},{"id":"24fc0b76.f98b74","type":"template","z":"5fc55198.fcc42","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!--\n# Copyright 2020\n# \n#Code Modified , Author : Data Dragons\n-->\n\n<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    \n    <script src=\"https://use.fontawesome.com/d1341f9b7a.js\"></script>\n    <link rel=\"stylesheet\" href=\"style.css\">\n    <title>\n\t  ZHunger: Prune The Hunger Within\n\t</title>\n\t\n\t\n\t<style>{{{payload.css}}}</style>\n  </head>\n  <body>\n       <div class=\"box\">\n  <img src=\"https://upload.wikimedia.org/wikipedia/commons/1/1d/3D_dragon_animation.gif\" alt=\"\" class=\"box-img\">\n  <h1>\nRoyal Hack Elites</h1>\n<h5>\nZero Hunger crisis Solution</h5>\n<p>\nPlease feel free to reach out to us regarding all the facts and information you want to know about Zero Hunger solution</p>\n<div>\n<span> </span>\n</div>\n<div class=\"social-menu\">\n \n  <ul>\n    <li><a href=\"https://www.facebook.com/ZeroHungerChallenge/\"><i class=\"fa fa-facebook\"></i></a></li>\n    <li><a href=\"https://twitter.com/zerohunger?lang=en\"><i class=\"fa fa-twitter\"></i></a></li>\n    <li><a href=\"https://www.instagram.com/zerohungerchallenge/\"><i class=\"fa fa-instagram\"></i></a></li>\n    <li><a href=\"https://www.youtube.com/watch?v=d_ecGTmtRCo\"><i class=\"fa fa-youtube\"></i></a></li>\n    <li><a href=\"https://www.un.org/sustainabledevelopment/hunger/\"><i class=\"fa fa-google-plus-square\" aria-hidden=\"true\"></i></a></li>\n\t\n\n</ul>\n\t\n  </ul>\n</div>\n</div>\n\t  \n\t\t\n    <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-2.1.4.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n    \n    <script>{{{payload.script}}}</script>\n  </body>\n</html>\n","x":950,"y":300,"wires":[["afa519e8.11b918"]]},{"id":"e4c09b6.f39b168","type":"template","z":"5fc55198.fcc42","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!--\n# Copyright 2020\n# \n#Code Modified , Author : Data Dragons\n-->\n\n<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>\n\t  ZHunger: Prune The Hunger Within\n\t</title>\n\t\n\t\n\t<style>{{{payload.css}}}</style>\n  </head>\n  <body>\n      \n     \n     <form id=\"myForm\">\n      <div class=\"wrapper\">\n  <div class=\"title\">\n    <h1>Feedback </h1>\n  </div>\n  \n    <form >\n\t\t<h3 style=\"color:#c5ecfd;\">How will you rate our Work ?<h3>\n\t\t\t<label class = \"radio-inline\"><input type=\"radio\" name=\"experience\" value=\"good\">  Good</label>\n\t\t\t<label class = \"radio-inline\"><input type=\"radio\" name=\"experience\" value=\"better\">  Better</label>\n\t\t\t<label class = \"radio-inline\"><input type=\"radio\" name=\"experience\" value=\"best\">  Best</label>\n\t\t\t<label class = \"radio-inline\"><input type=\"radio\" name=\"experience\" value=\"average\">  Average</label>\n\t\t\t<label class = \"radio-inline\"><input type=\"radio\" name=\"experience\" value=\"bad\">  Bad</label>\n\t\t\t<label class = \"radio-inline\"><input type=\"radio\" name=\"experience\" value=\"worse\">  Worse</label>\n\t</form>\n  \n  <div class=\"contact-form\">\n    <div class=\"input-fields\">\n      <input type=\"text\" class=\"input\" placeholder=\"Name\" name = \"fname\">\n      <input type=\"text\" class=\"input\" placeholder=\"Email Address\" name = \"email\">\n      <input type=\"text\" class=\"input\" placeholder=\"Phone\" name = \"phone\">\n      <input type=\"text\" class=\"input\" placeholder=\"Subject\" name = \"subject\">\n    </div>\n    <div class=\"msg\">\n      <textarea placeholder=\"Message\" name = \"msg\"></textarea>\n      <div class=\"btn\"  onclick=\"myFunction()\">send</div>\n    </div>\n  </div>\n</div>\n</form>\n\t\t\n    <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-2.1.4.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n    \n    <script>{{{payload.script}}}</script>\n  </body>\n</html>\n","x":950,"y":420,"wires":[["39b5880d.23dfb8"]]},{"id":"78786d70.340484","type":"http in","z":"5fc55198.fcc42","name":"Background pic by url test Page","url":"/pictest","method":"get","upload":false,"swaggerDoc":"","x":210,"y":860,"wires":[["315c146a.960f1c"]]},{"id":"a0c12311.dfb4b","type":"template","z":"5fc55198.fcc42","name":"Css","field":"payload.css","fieldType":"msg","format":"css","syntax":"mustache","template":"body  {\n  background-image: url(\"https://github.com/KINGBIKASH/imagestestbks/blob/master/pexels-edward-jenner-4031867.jpg\");\n  background-color: #cccccc;\n}","output":"str","x":770,"y":860,"wires":[["63a7c96e.dfaf58"]]},{"id":"315c146a.960f1c","type":"template","z":"5fc55198.fcc42","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"","output":"str","x":570,"y":860,"wires":[["a0c12311.dfb4b"]]},{"id":"e5da1ce8.a8ec8","type":"http response","z":"5fc55198.fcc42","name":"","statusCode":"","headers":{},"x":1070,"y":860,"wires":[]},{"id":"63a7c96e.dfaf58","type":"template","z":"5fc55198.fcc42","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!--\n# Copyright 2020\n# \n#Code Modified , Author : Data Dragons\n-->\n\n<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>\n\t  ZHunger: Prune The Hunger Within\n\t</title>\n\t\n\t\n\t<style>{{{payload.css}}}</style>\n  </head>\n  <body>\n      <h1>Pic Test using image url</h1>\n\t  \n\t  <h1>The background-image Property</h1>\n\n<p>Hello World!</p>\n<img src=\"https://upload.wikimedia.org/wikipedia/commons/1/1d/3D_dragon_animation.gif\">\n\t  \n\t\t\n    <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-2.1.4.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n    \n    <script>{{{payload.script}}}</script>\n  </body>\n</html>\n","x":910,"y":860,"wires":[["e5da1ce8.a8ec8"]]},{"id":"e659e87.95e6718","type":"http in","z":"5fc55198.fcc42","name":"Blank Page for reuse by copypaste","url":"/blank","method":"get","upload":false,"swaggerDoc":"","x":240,"y":780,"wires":[["b186b359.17c1f"]]},{"id":"1387877a.64d8e9","type":"template","z":"5fc55198.fcc42","name":"Css","field":"payload.css","fieldType":"msg","format":"css","syntax":"mustache","template":"","output":"str","x":810,"y":780,"wires":[["def57bca.6aec98"]]},{"id":"b186b359.17c1f","type":"template","z":"5fc55198.fcc42","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"","output":"str","x":610,"y":780,"wires":[["1387877a.64d8e9"]]},{"id":"8a572451.222b88","type":"http response","z":"5fc55198.fcc42","name":"","statusCode":"","headers":{},"x":1110,"y":780,"wires":[]},{"id":"def57bca.6aec98","type":"template","z":"5fc55198.fcc42","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!--\n# Copyright 2020\n# \n#Code Modified , Author : Data Dragons\n-->\n\n<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>\n\t  ZHunger: Prune The Hunger Within\n\t</title>\n\t\n\t\n\t<style>{{{payload.css}}}</style>\n  </head>\n  <body>\n      <h1>Contact us</h1>\n\t  \n\t\t\n    <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-2.1.4.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n    \n    <script>{{{payload.script}}}</script>\n  </body>\n</html>\n","x":950,"y":780,"wires":[["8a572451.222b88"]]},{"id":"fd033c70.4adf3","type":"http in","z":"5fc55198.fcc42","name":"About us page","url":"/aboutus","method":"get","upload":false,"swaggerDoc":"","x":180,"y":560,"wires":[["3a3be7e.66a0018"]]},{"id":"c015bd57.5eeb2","type":"template","z":"5fc55198.fcc42","name":"Css","field":"payload.css","fieldType":"msg","format":"css","syntax":"mustache","template":"*{\n    margin: 0;\n    padding: 0;\n    font-family: \"Open Sans\",sans-serif;\n    box-sizing: border-box;\n}\n\nbody{\n    min-height: 100vh;\n    display: flex;\n    align-items: center;\n    justify-content: center;\n    background-color: #f1f1f1;\n}\n\n.about-section{\n    \n    background-size: 55%;\n    background-color: #fdfdfd;\n    overflow: hidden;\n    padding: 100px 0;\n}\n\n.inner-container{\n    width: 55%;\n    float: right;\n    background-color: #fdfdfd;\n    padding: 150px;\n}\n\n.inner-container h1{\n    margin-bottom: 30px;\n    font-size: 30px;\n    font-weight: 900;\n}\n\n.text{\n    font-size: 13px;\n    color: #545454;\n    line-height: 30px;\n    text-align: justify;\n    margin-bottom: 40px;\n}\n\n.skills{\n    display: flex;\n    justify-content: space-between;\n    font-weight: 700;\n    font-size: 13px;\n}\n\n@media screen and (max-width:1200px){\n    .inner-container{\n        padding: 80px;\n    }\n}\n\n@media screen and (max-width:1000px){\n    .about-section{\n        background-size: 100%;\n        padding: 100px 40px;\n    }\n    .inner-container{\n        width: 100%;\n    }\n}\n\n@media screen and (max-width:600px){\n    .about-section{\n        padding: 0;\n    }\n    .inner-container{\n        padding: 60px;\n    }\n}","output":"str","x":810,"y":560,"wires":[["92beb063.d8703"]]},{"id":"3a3be7e.66a0018","type":"template","z":"5fc55198.fcc42","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"","output":"str","x":610,"y":560,"wires":[["c015bd57.5eeb2"]]},{"id":"a0a8c8c6.9cab98","type":"http response","z":"5fc55198.fcc42","name":"","statusCode":"","headers":{},"x":1110,"y":560,"wires":[]},{"id":"92beb063.d8703","type":"template","z":"5fc55198.fcc42","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!--\n# Copyright 2020\n# \n#Code Modified , Author : Data Dragons\n-->\n\n<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>\n\t  ZHunger: Prune The Hunger Within\n\t</title>\n\t\n\t\n\t<style>{{{payload.css}}}</style>\n  </head>\n  <body>\n       <div class=\"about-section\">\n        <div class=\"inner-container\">\n            <h1>About Us</h1>\n            <p class=\"text\">\n               In this real-world of global hunger challenge, Design of an Mobile and Web app will act as one stop for creating awareness of food security, improving nutrition, and promoting sustainable agriculture as well as help accomplishing our goal of Zero Hunger. It will ensure that food provider reduces food wastage and provides the food to needy on time by any delivery platform. It will help improve access to nutritious food in local communities and those suffering from acute hunger. ZPEM App would provide all the solution to eradicate hunger and help achieve goal.\n\t\t\t   </p>\n            <div class=\"skills\">\n\t\t\t<span>Technology we used are : </span>\n                <span>Artificial intelligence</span>\n                <span>Machine Learning</span>\n                <span>Data science</span>\n            </div>\n        </div>\n    </div>\n\t  \n\t\t\n    <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-2.1.4.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n    \n    <script>{{{payload.script}}}</script>\n  </body>\n</html>\n","x":950,"y":560,"wires":[["a0a8c8c6.9cab98"]]},{"id":"d2affcaa.9eb65","type":"http in","z":"5fc55198.fcc42","name":"Login Page","url":"/login","method":"get","upload":false,"swaggerDoc":"","x":190,"y":660,"wires":[["42f2e5da.8fbe8c"]]},{"id":"7cb416df.db2d58","type":"template","z":"5fc55198.fcc42","name":"Css","field":"payload.css","fieldType":"msg","format":"css","syntax":"mustache","template":"body{\n  margin: 0;\n  padding: 0;\n  font-family: sans-serif;\n  background: #34495e;\n}\n.box{\n  width: 300px;\n  padding: 40px;\n  position: absolute;\n  top: 50%;\n  left: 50%;\n  transform: translate(-50%,-50%);\n  background: #191919;\n  text-align: center;\n}\n.box h1{\n  color: white;\n  text-transform: uppercase;\n  font-weight: 500;\n}\n.box input[type = \"text\"],.box input[type = \"password\"]{\n  border:0;\n  background: none;\n  display: block;\n  margin: 20px auto;\n  text-align: center;\n  border: 2px solid #3498db;\n  padding: 14px 10px;\n  width: 200px;\n  outline: none;\n  color: white;\n  border-radius: 24px;\n  transition: 0.25s;\n}\n.box input[type = \"text\"]:focus,.box input[type = \"password\"]:focus{\n  width: 280px;\n  border-color: #2ecc71;\n}\n.box input[type = \"submit\"]{\n  border:0;\n  background: none;\n  display: block;\n  margin: 20px auto;\n  text-align: center;\n  border: 2px solid #2ecc71;\n  padding: 14px 40px;\n  outline: none;\n  color: white;\n  border-radius: 24px;\n  transition: 0.25s;\n  cursor: pointer;\n}\n.box input[type = \"submit\"]:hover{\n  background: #2ecc71;\n}","output":"str","x":810,"y":660,"wires":[["221f1961.25a176"]]},{"id":"42f2e5da.8fbe8c","type":"template","z":"5fc55198.fcc42","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"","output":"str","x":610,"y":660,"wires":[["7cb416df.db2d58"]]},{"id":"d0ce55dd.40a578","type":"http response","z":"5fc55198.fcc42","name":"","statusCode":"","headers":{},"x":1110,"y":660,"wires":[]},{"id":"221f1961.25a176","type":"template","z":"5fc55198.fcc42","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!--\n# Copyright 2020\n# \n#Code Modified , Author : Data Dragons\n-->\n\n<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>\n\t  ZHunger: Prune The Hunger Within  Login\n\t</title>\n\t\n\t\n\t<style>{{{payload.css}}}</style>\n  </head>\n  <body>\n     \t  \n<form class=\"box\" action=\"index.html\" method=\"post\">\n  <h1>Login</h1>\n  <input type=\"text\" name=\"\" placeholder=\"Username\">\n  <input type=\"password\" name=\"\" placeholder=\"Password\">\n  <input type=\"submit\" name=\"\" value=\"Login\">\n</form>\n\t\t\n    <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-2.1.4.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n    \n    <script>{{{payload.script}}}</script>\n  </body>\n</html>\n","x":950,"y":660,"wires":[["d0ce55dd.40a578"]]},{"id":"4d4f748d.d5fb2c","type":"http in","z":"942c34f.944b9c8","name":"BOT Home Page","url":"/ZHungerr","method":"get","upload":false,"swaggerDoc":"","x":120,"y":200,"wires":[["a3c13bca.7f1ad8"]]},{"id":"10a42caa.42cec3","type":"template","z":"942c34f.944b9c8","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!--\n# Copyright 2020\n# \n#Code Modified , Author : Data Dragons\n-->\n\n<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>\n\t  ZHunger: Prune The Hunger Within\n\t</title>\n\t\n\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n\t\n\t<link rel=\"stylesheet\"\n        href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css\" />\n\t\n\t<link rel=\"stylesheet\"\n        href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css\" />\n\t\t\n\t<link rel=\"stylesheet\" href=\"https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css\">\n\t\t\n\t<link rel=\"stylesheet\"\n        href=\"https://fontawesome.com/v4.7.0/icons\" />\n\t\n\t<link rel=\"stylesheet\"\n        href=\"https://fontawesome.com/v4.7.0/icon/paper-plane\" />\n\t\n\t<style>{{{payload.css}}}</style>\n  </head>\n  <body>\n      \n      <header class=\"header-area header-sticky\">\n                    <nav> \n                    \n                    <label class=\"logo\">ROYAL HACK ELITES TEAM</label>\n                        <ul>\n\t\t\t\t\t\t\t<li><a class=\"active\" href=\"https://node-red-bsapj-2021-07-21.eu-gb.mybluemix.net/home\">Home</a></li>\n\t\t\t\t\t\t\t<li><a href=\"https://t.me/ZHungerbot\">ZHunger Telegram</a></li>\n\t\t\t\t\t\t\t<li><a href=\"https://node-red-bsapj-2021-07-21.eu-gb.mybluemix.net/ui/#!/0?socketid=g1aF7kZ6fgFuNXj2AAAA\">DashBoard</a></li>\n\t\t\t\t\t\t\t<li><a href=\"https://node-red-bsapj-2021-07-21.eu-gb.mybluemix.net/contact\">Contact</a></li>\n\t\t\t\t\t\t\t<li><a href=\"https://node-red-bsapj-2021-07-21.eu-gb.mybluemix.net/feedback\">Feedback</a></li>\n\t\t\t\t\t\t</ul>\n\t\t\t\t\t</nav>\t\n      </header>\n      \n\n    <div class=\"container\">\n      <div id=\"no-script\"class=\"bg-info\">\n        This application needs JavaScript enabled in your browser!\n      </div>\n      <div id=\"id_contextdump\"></div>\n\t\n    <div class=\"container\">\n\t\t<div class=\"msg-header\">\n\t\t\t\n\t\t\t<div class=\"headder-icons\">\n\t\t\t\t<i class=\"fa fa-phone\" rel=“stylesheet”></i>\n\t\t\t\t<i class=\"fa fa-video-camera\"></i>\n\t\t\t\t<i class=\"fa fa-info-circle\"></i>\n\t\t\t\t\n\t\t\t\t<i class=\"fa fa-paper-plane\" rel=“stylesheet”></i>\n\t\t\t</div>\n\t\t\t\n\t\t\t<div class=\"activee\">\n\t\t\t\t<h4>ZHunger</h4>\n\t\t\t\t<h6>Asst. for Zhunger </h6>\n\t\t\t\t\n\t\t\t</div>\n\t\t\t\n\t\t</div>\n\t\t\t<div >\n\t\t\t\t<div class=\"msg-inbox\">\n\t\t\t\t\t<div class=\"chatts\">\n\t\t\t\t\t\t<div class=\"msg-pg\">\n\t\t\t\t\t\t\n\t\t\t\t\t\t\t<div class=\"rcvd-chatts\">\n\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t<div class=\"rcvd-msg\">\n\t\t\t\t\t\t\t\t        \n\t\t\t\t\t\t\t\t\t\t<div id=id_botchathistory>\n\t\t\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\n\t\t\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t\t\n\t\t\t\t\t<div class=\"msg-bottom\">\n\t\t\t\t\t\t<div class=\"input-grp\">\n\t\t\t\t\t\t    \n\t\t\t\t\t\t\t<input type=\"text\" class=\"form-control\" name=\"chattext\" id=\"id_chattext\" placeholder=\"   Talk to me !...\">\n\t\t\t\t\t\t\t\n\t\t\t\t\t\t    </div>\n\t\t\t\t\t\t    <div class=\"btn\" id = \"enterbutton\"  onclick=\"javascript:onChatClick()\">\n\t\t\t\t\t\t      \n                                    Send\n                            \n                            <div>\n                                \n\t\t\t\t\t\t\n\t\t\t\t\t</div>\n\t\t\t\t\t\n\t\t\t\t</div>\n\t\t\t</div>\n\t  \n\t\t\n    <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-2.1.4.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n    \n    <script>{{{payload.script}}}</script>\n  </body>\n</html>\n","x":910,"y":200,"wires":[["56745a17.e7e524"]]},{"id":"56745a17.e7e524","type":"http response","z":"942c34f.944b9c8","name":"","statusCode":"","headers":{},"x":1070,"y":200,"wires":[]},{"id":"a3c13bca.7f1ad8","type":"template","z":"942c34f.944b9c8","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"$(document).ready(function() {\n    javascriptCheck();\n    $('#id_contextdump').hide();\n    enterbutton();\n    invokeAjax (\"Hello\");\n});\n\n\n\n// if javascript is enabled on the browser then can remove the warning message\nfunction javascriptCheck() {\n    $('#no-script').remove();\n}\n\n// creates div for interaction with bot      \nfunction createNewDiv(who, message) {\n    var txt = who + ' : ' + message;\n    return $('<div class=\"botchat1\"></div>').text(txt);\n}\n\n// creates div for interaction with bot      \nfunction createNewYouDiv(who, message) {\n    var txt = who + ' : ' + message;\n    return $('<div class=\"youchat\"></div>').text(txt);\n}\n\n// appends latest communication with bot to botchathistory\nfunction chat(person, txt) {\n    console.log('IN CHAT');\n    console.log(txt);\n    $('#id_botchathistory').append(createNewDiv(person, txt));\n} \n\n// appends latest communication with bot to botchathistory\nfunction youchat(person, txt) {\n    console.log('IN CHAT');\n    console.log(txt);\n    $('#id_botchathistory').append(createNewYouDiv(person, txt));\n}     \n\n// sets pressing of enter key to perform same action as send button\nfunction enterbutton(){\n    $(function() {\n        $(\"form input\").keypress(function (e) {\n        if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {\n             $('button1').click();\n             return false;\n        } else {\n        return true;\n        }\n     });\n    });\n}\n\n//Bikash --> press enter--> successful\nvar input = document.querySelector('input');\n\t\n    input.addEventListener( 'keydown', (e) => {\n\tif(e.keyCode == 13){\n    var txt = $('#id_chattext').val();\n\t\tyouchat('You', txt); \n\t\tinvokeAjax(txt);\n\t\t$('#id_chattext').val('');\n\t}\n\t})\n\n// User has entered some text(Send button function).--> No need now    \nfunction onChatClick() {\n    var txt = $('#id_chattext').val();\n    youchat('You', txt); \n    invokeAjax(txt);\n    $('#id_chattext').val('');\n}\n\n\nfunction processOK(response) {\n    console.log(response);\n    console.log(response.botresponse.messageout);\n    console.log(response.botresponse.messageout.output.text);\n    console.log(response.botresponse.messageout.context);\n    chat('ZPEM-BOT', response.botresponse.messageout.output.text); \n    $('#id_contextdump').data('convContext', response.botresponse.messageout.context);\n    console.log('messageOUT');\n    console.log(response.botresponse.messageout);\n}\n      \nfunction processNotOK() {\n    chat('Error', 'Error whilst attempting to talk to Bot');\n}\n      \nfunction invokeAjax(message) {\n    var contextdata = $('#id_contextdump').data('convContext');\n    console.log('checking stashed context data');\n    console.log(contextdata);\n        \n    var ajaxData = {};\n    ajaxData.msgdata = message;\n    console.log('ajax data');\n    console.log(ajaxData.msgdata);\n    if (contextdata) {\n        ajaxData.context = contextdata;    \n    }\n\n    $.ajax({\n        type: 'POST',\n        url: 'botchat',\n        data: ajaxData,\n        success: processOK,\n        error: processNotOK\n    });\n    \n}","output":"str","x":550,"y":200,"wires":[["c41bfcfc.577ff"]]},{"id":"571e3545.ff3e9c","type":"comment","z":"942c34f.944b9c8","name":"Conversation BOT Template","info":"","x":160,"y":120,"wires":[]},{"id":"4ac7cf7c.e6af4","type":"http response","z":"942c34f.944b9c8","name":"","statusCode":"","headers":{},"x":850,"y":400,"wires":[]},{"id":"758692f1.7373ec","type":"function","z":"942c34f.944b9c8","name":"Post Service Processing","func":"msg.mydata.messageout = msg.payload;\n\nmsg.payload = {};\nmsg.payload.botresponse = msg.mydata;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":614,"y":402,"wires":[["4ac7cf7c.e6af4"]]},{"id":"59cb0f12.5a926","type":"function","z":"942c34f.944b9c8","name":"Pre Service Processing","func":"// stash away incoming data\nmsg.mydata = {};\nmsg.mydata.messagein = msg.req.body.msgdata;\nmsg.payload = msg.mydata.messagein;\n\nmsg.params = { \"context\": msg.req.body.context};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":296,"y":398,"wires":[["4698554d.de7c2c","6f5ae5da.8fec0c"]]},{"id":"f6b24db6.08da7","type":"http in","z":"942c34f.944b9c8","name":"BOT REST API","url":"/botchat","method":"post","upload":false,"swaggerDoc":"","x":119,"y":311,"wires":[["59cb0f12.5a926"]]},{"id":"2537fd15.789862","type":"comment","z":"942c34f.944b9c8","name":"Conversation REST API","info":"","x":138,"y":271,"wires":[]},{"id":"c53d522d.abd93","type":"cloudant out","z":"942c34f.944b9c8","name":"Anlyzedata","cloudant":"","database":"noderedbsapj20210721","service":"node-red-bsapj-2021--cloudant-1626902618939-73092","payonly":true,"operation":"insert","x":650,"y":260,"wires":[]},{"id":"4698554d.de7c2c","type":"watson-conversation-v1","z":"942c34f.944b9c8","name":"ZPEM_Bot","workspaceid":"c9d3fab4-fdbc-487a-827b-df05ebd0a1b7","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/5c1da343-398b-4059-a85d-81bc198ee373","timeout":"","optout-learning":false,"x":450,"y":260,"wires":[["758692f1.7373ec","c53d522d.abd93","d3ad1d11.0c3e4"]]},{"id":"6f5ae5da.8fec0c","type":"debug","z":"942c34f.944b9c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":500,"wires":[]},{"id":"158a0a79.7bd216","type":"watson-conversation-v1","z":"942c34f.944b9c8","name":"PVKBOT","workspaceid":"c9d3fab4-fdbc-487a-827b-df05ebd0a1b7","multiuser":false,"context":false,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/5c1da343-398b-4059-a85d-81bc198ee373","timeout":"","optout-learning":false,"x":360,"y":920,"wires":[["275e1f67.3987d"]]},{"id":"81e42df6.e81a4","type":"inject","z":"942c34f.944b9c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hello","payloadType":"str","x":160,"y":940,"wires":[["158a0a79.7bd216"]]},{"id":"275e1f67.3987d","type":"debug","z":"942c34f.944b9c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":920,"wires":[]},{"id":"c41bfcfc.577ff","type":"template","z":"942c34f.944b9c8","name":"Css","field":"payload.css","fieldType":"msg","format":"css","syntax":"mustache","template":"\t\n        \n\t\tbody\n\t\t{\n\t\tmargin :0;\n\t\tpadding : 0;\n\t\tjustify-content : center;\n\t\talign-items : center;\n\t\tbackground : #808080;\n\t\tfont-family: Calibri;\n\t\tmargin: 0;\n        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;\n        font-size: 16px;\n\t\t\n\t\t}\n\t\t\n\t\t\n\t\t.container\n\t\t{\n\t\tmax-width : 600;\n\t\tmargin : auto;\n\t\tmargin-top : 4%;\n\t\tfont-family : sans-serif;\n\t\tletter-spacing : 0.5px;\n\t\t\n\t\t}\n\t\timg\n\t\t{\n\t\tmax-width : 20%;\n\t\tborder-radius: 35%;\n\t\t}\n\t\t.msg-header\n\t\t{\n\t\tborder : 1px solid #ccc;\n\t\twidth : 100%;\n\t\theight : 10%;\n\t\tborder-bottom : none;\n\t\tdisplay : inline-block;\n\t\tbackground-color : #007bff;\n\t\t}\n\t\t.msg-header-img\n\t\t{\n\t\tborder-radius: 50%;\n\t\twidth: 40%;\n\t\tmargin-left : 5%;\n\t\tmargin-top : 12px;\n\t\tfloat : left;\n\t\t}\n\t\t.activee\n\t\t{\n\t\twidth : 120px;\n\t\tfloat : center;\n\t\tmargin-top : 10px;\n\t\t}\n\t\t.activee h4\n\t\t{\n\t\tfont-size : 20px;\n\t\tmargin-left : 10px;\n\t\tcolor : #fff;\n\t\t}\n\t\t.activee h6\n\t\t{\n\t\tfont-size : 10px;\n\t\tmargin-left : 10px;\n\t\tline-height : 2px;\n\t\tcolor : #fff;\n\t\t}\n\t\t.headder-icons\n\t\t{\n\t\twidth : 120px;\n\t\tfloat : right;\n\t\tmargin-top : 12px;\n\t\tmargin-right : 10px;\n\t\t}\n\t\t.headder-icons .fa\n\t\t{\n\t\tcolor : #fff;\n\t\tcursor : pointer;\n\t\tmargin : 10px;\n\t\t}\n\t\t.bottom-icons\n\t\t{\n\t\twidth : 120px;\n\t\tfloat : right;\n\t\tmargin-top : 5px;\n\t\tmargin-right : 10px;\n\t\t}\n\t\t.bottom-icons .fa\n\t\t{\n\t\tcolor : #fff;\n\t\tcursor : pointer;\n\t\tmargin : 10px;\n\t\t}\n\t\t.chat-pg\n\t\t{\n\t\tpadding : 0 0 10px 0;\n\t\t}\n\t\t.msg-inbox\n\t\t{\n\t\tborder : 1px solid #ccc;\n\t\toverflow : hidden;\n\t\tpadding-bottom : 30px;\n\t\tbackground :white;\n\t\tbox-sizing:none;\n\t\t}\n\t\t.chatts\n\t\t{\n\t\tpadding : 30px 15px 0 25px;\n\t\t}\n\t\t.msg-pg\n\t\t{\n\t\theight : 440px;\n\t\toverflow-y : scroll;\n\t\t}\n\t\t\n\t\t.rcvd-chatts-img\n\t\t{\n\t\tdisplay : inline-block;\n\t\twidth : 200px;\n\t\tfloat : left;\n\t\t}\n\t\t.rcvd-msg\n\t\t{\n\t\tdisplay : inline-block;\n\t\tpadding : 0 0 0 10px;\n\t\tvertical-align : top;\n\t\twidth : 92%\n\t\t}\n                \n\t\t.rcvd-msg-inbox\n\t\t{\n\t\twidth : 57%;\n\t\t}\n\t\t.rcvd-msg-inbox p\n\t\t{\n\t\tbackground : #efefef none repeat scroll 0 0;\n\t\tborder-radius : 10px;\n\t\tcolor : #646464;\n\t\tfont-size : 14px;\n\t\tmargin : 0;\n\t\tpadding :5px 10px 5px 12px;\n\t\twidth : 100%;\n\t\t}\n\t\t\n\t\t.msg-bottom\n\t\t{\n\t\tposition : relative;\n\t\theight : 10%;\n\t\tbackground-color : #007bff;\n\t\t}\n\t\t.input-grp\n\t\t{\n\t\tfloat: left;\n\t\tmargin-top: 5px;\n\t\tmargin-left: 20px;\n\t\toutline : none;\n\t\tborder-radius: 20px;\n\t\twidth: 71%;\n\t\tbackground-color: #fff;\n\t\t}\n\t\t\n\t\t.input-group-text\n\t\t{\n\t\tbackground : transparent;\n\t\tborder : none;\n\t\t}\n\t\t.form-control\n\t\t{\n\t\tborder: none;\n\t\tborder-radius: 20px;\n\t\tbox-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);\n\t\t}\n\t\n\t\t.time\n\t\t{\n\t\tcolor : #777;\n\t\tdisplay : block;\n\t\tfont-size : 12px;\n\t\tmargin : 470px 0 0;\n\t\t}\n\t\t\n\t\t.youchat\n         {\n        float: right;\n        border-radius: 10px;\n\t\tpadding : 10px 17px;\n\t\twidth:80%;\n\t\tbackground : lightgrey;\n\t\tmargin-right: 20px;\n\t\tborder-top:4px solid #27ae60;\n\t\tmargin: 0.5em;\n\t\tfont-family: Calibri;\n        }\n\t\t.botchat1\n\t\t{\n\t\t font-family: inherit;\n    font-size: inherit;\n    font-style: inherit;\n    font-variant: normal;\n    font-variant-ligatures: normal;\n    font-variant-caps: normal;\n    font-variant-numeric: normal;\n    font-variant-east-asian: normal;\n    font-weight: inherit;   \n\t\t    \n\t\tfloat: left;\n        border-radius: 10px;\n\t\tpadding : 10px 17px;\n\t\twidth:100%;\n\t\tbackground : lightskyblue;\n\t\tmargin-right: 20px;\n\t\tborder-top:4px solid #27ae60;\n\t\tmargin: 0.5em;\n\t\tfont-size:14px;\n\t\t}\n\t\t\n\t\t.btn\n\t\t{\n\t\t     border: 2px solid #4CAF50;\n\t\tborder-radius: 12px;\n\t\tfloat: right;\n\t\tmargin-top: 10px;\n\t\tmargin-right: 20px;\n\t\t\n\t\tborder-radius: 12px;\n\t\tfloat: right;\n\t\tmargin-top: 10px;\n\t\tmargin-right: 20px;\n\t\toutline : none;\n\t\tbackground:lightgrey;\n\t\t}\n\t\t\n\t\ta{\n    position: relative;\n    display: inline-block;\n   \n       \n   \n    color: black;\n    text-transform: uppercase;\n    font-weight: bold;\n    text-decoration: none;\n    font-size: 14px;\n    overflow: hidden;\n    transition: 0.2s;\n}\na:hover{\n    color: #255784;\n    background: #2196f3;\n    box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3,0 0 80px #2196f3;\n    transition-delay: 1s;\n}\na span{\n    position: absolute;\n    display: block;\n}\na span:nth-child(1){\n    top: 0;\n    left: -100%;\n    width: 100%;\n    height: 2px;\n    background: linear-gradient(90deg,transparent,#2196f3);\n}\na:hover span:nth-child(1){\n    left: 100%;\n    transition: 1s;\n}\na span:nth-child(3){\n    bottom: 0;\n    right: -100%;\n    width: 100%;\n    height: 2px;\n    background: linear-gradient(270deg,transparent,#2196f3);\n}\na:hover span:nth-child(3){\n    right: 100%;\n    transition: 1s;\n    transition-delay: 0.5s;\n}\na span:nth-child(2){\n    top: -100%;\n    right: 0;\n    width: 2px;\n    height: 100%;\n    background: linear-gradient(180deg,transparent,#2196f3);\n}\na:hover span:nth-child(2){\n    top: 100%;\n    transition: 1s;\n    transition-delay: 0.25s;\n}\na span:nth-child(4){\n    bottom: -100%;\n    left: 0;\n    width: 2px;\n    height: 100%;\n    background: linear-gradient(360deg,transparent,#2196f3);\n}\na:hover span:nth-child(4){\n    bottom: 100%;\n    transition: 1s;\n    transition-delay: 0.5s;\n}\n\n\nnav{\n  background: #32CD32;\n  height: 80px;\n  width: 100%;\n}\nnav ul{\n  float: right;\n  margin-right: 60px;\n}\nnav ul li{\n  display: inline-block;\n  line-height: 80px;\n  margin: 0 2px;\n}\nnav ul li a{\n  color: #f2f2f2;\n  font-weight: 500;\n  font-size: 20px;\n  padding: 7px 13px;\n  border-radius: 3px;\n  /* text-transform: uppercase; */\n  font-family: 'Poppins', sans-serif;\n}\n\n@media (max-width: 952px){\n  label.logo{\n    font-size: 27px;\n    padding-left: 25px;\n  }\n  nav ul li a{\n    font-size: 16px;\n  }\n}\nlabel.logo{\n  color: #f2f2f2;\n  font-size: 33px;\n  line-height: 80px;\n  padding: 0 140px;\n  font-weight: 600;\n  font-family: 'Poppins', sans-serif;\n}\n\t\n\t","output":"str","x":750,"y":200,"wires":[["10a42caa.42cec3"]]},{"id":"d3ad1d11.0c3e4","type":"debug","z":"942c34f.944b9c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":320,"wires":[]},{"id":"dd7a97dc.dabe18","type":"watson-conversation-v1","z":"93a1c2b.b64464","name":"ZPEM_App","workspaceid":"c9d3fab4-fdbc-487a-827b-df05ebd0a1b7","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/5c1da343-398b-4059-a85d-81bc198ee373","timeout":"","optout-learning":false,"x":610,"y":300,"wires":[["795c2810.e8c768","697d4d46.17fc54"]]},{"id":"ac17969b.45fbc8","type":"function","z":"93a1c2b.b64464","name":"F1 - Init bot","func":"/* Function1.js\n * Initialize Telegram bot messages\n * v 1.0\n * November 2018\n */\n\nmsg.chatId = msg.payload.chatId;\nmsg.user = msg.payload.chatId;\nmsg.payload = msg.payload.content;\nreturn msg;\n","outputs":1,"noerr":0,"x":430,"y":200,"wires":[["dd7a97dc.dabe18"]]},{"id":"795c2810.e8c768","type":"function","z":"93a1c2b.b64464","name":"F9 - Response assistant","func":"/* Function9.js\n * Prepare message to be sent to Telegram bot\n * v 1.0\n * November 2018\n */\n\nvar outputMsg = \"\";\n\tif(msg.payload.output.text) {\n    \t\tfor(i=0;i<msg.payload.output.text.length;i++){\n        \t\t\toutputMsg += msg.payload.output.text[i] +\"\\n\"\n    \t\t}\n\t}\nmsg.payload = {\n  \tchatId : msg.chatId,\n  \ttype : \"message\",\n  \tcontent : outputMsg\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":790,"y":200,"wires":[["497f5097.eab77"]]},{"id":"84afd56b.8333c8","type":"telegram receiver","z":"93a1c2b.b64464","name":"","bot":"54545006.9b177","saveDataDir":"","filterCommands":false,"x":150,"y":280,"wires":[["ac17969b.45fbc8"],[]]},{"id":"497f5097.eab77","type":"telegram sender","z":"93a1c2b.b64464","name":"","bot":"54545006.9b177","outputs":1,"x":1040,"y":300,"wires":[[]]},{"id":"697d4d46.17fc54","type":"cloudant out","z":"93a1c2b.b64464","name":"Anlyzedata","cloudant":"","database":"noderedbsapj20210721","service":"node-red-bsapj-2021--cloudant-1626902618939-73092","payonly":true,"operation":"insert","x":830,"y":460,"wires":[]},{"id":"5b3eb085.a038f","type":"debug","z":"93a1c2b.b64464","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":380,"wires":[]},{"id":"1dc1bd51.335af3","type":"debug","z":"88f72503.c1d3d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":700,"wires":[]},{"id":"efa71ca4.ee771","type":"comment","z":"88f72503.c1d3d8","name":"Store Input data from desktop user inputs","info":"","x":480,"y":580,"wires":[]},{"id":"5f76a67a.8872d8","type":"link in","z":"88f72503.c1d3d8","name":"link in from form input","links":["5ccaba5c.5f84e4"],"x":295,"y":660,"wires":[["ee3af583.488e88"]]},{"id":"b1574772.de8648","type":"cloudant out","z":"88f72503.c1d3d8","name":"","cloudant":"","database":"data","service":"node-red-bsapj-2021--cloudant-1626902618939-73092","payonly":true,"operation":"insert","x":630,"y":660,"wires":[]},{"id":"ee3af583.488e88","type":"function","z":"88f72503.c1d3d8","name":"data transform/clense","func":"msg.payload.updated = Math.floor(new Date().getTime()/1000);\nreturn msg;//","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":660,"wires":[["1dc1bd51.335af3","b1574772.de8648"]]},{"id":"87967448.0b6288","type":"inject","z":"88f72503.c1d3d8","name":"Get location data","props":[{"p":"location","v":"{\"lat\":20.8070715,\"lon\":107.118502}","vt":"json"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":230,"y":360,"wires":[["d52cf119.203f"]]},{"id":"18d99790.a50328","type":"function","z":"88f72503.c1d3d8","name":"Sunrise/sunset timestamp convert","func":"var sunRise = new Date((msg.payload.sunrise+msg.data.timezone)*1000);\nmsg.payload.sunrise = sunRise.toUTCString();\n\nvar sunSet = new Date((msg.payload.sunset+msg.data.timezone)*1000);\nmsg.payload.sunset = sunSet.toUTCString();\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":440,"wires":[["2d3e270f.99a068","ba7c5b92.454c18"]]},{"id":"e07e8c3a.8490b","type":"comment","z":"88f72503.c1d3d8","name":"Open Weather Map","info":"Open the inject node below and update the needed longtitude and latitude in the json","x":410,"y":300,"wires":[]},{"id":"2d3e270f.99a068","type":"link out","z":"88f72503.c1d3d8","name":"output to desktop","links":["6d1d1023.ee998"],"x":795,"y":440,"wires":[]},{"id":"ba7c5b92.454c18","type":"debug","z":"88f72503.c1d3d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":480,"wires":[]},{"id":"6d1d1023.ee998","type":"link in","z":"4c5f72d.4b35f8c","name":"Map & Weather data","links":["2d3e270f.99a068"],"x":335,"y":160,"wires":[["a541d304.c621a"]]},{"id":"31cc8fb0.46402","type":"comment","z":"4c5f72d.4b35f8c","name":"Link data for Map and Weather","info":"","x":440,"y":80,"wires":[]},{"id":"48fd50a0.e9fa6","type":"comment","z":"4c5f72d.4b35f8c","name":"Data display and form input","info":"","x":460,"y":280,"wires":[]},{"id":"28d9d452.a3c0bc","type":"inject","z":"4c5f72d.4b35f8c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"[{\"Date\":\"17/03/2021 09:00:00\",\"Update\":\"Rain during the day, crops are watered\"},{\"Date\":\"18/03/2021 09:00:00\",\"Update\":\"Crops starting to sprout\"}]","payloadType":"json","x":350,"y":340,"wires":[["3136a75d.dd6998"]]},{"id":"4602c128.331b9","type":"inject","z":"4c5f72d.4b35f8c","name":"clear the form","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":280,"y":500,"wires":[[]]},{"id":"5ccaba5c.5f84e4","type":"link out","z":"4c5f72d.4b35f8c","name":"","links":["5f76a67a.8872d8"],"x":115,"y":420,"wires":[]},{"id":"20ae2a41.88cc56","type":"change","z":"4c5f72d.4b35f8c","name":"clear form after submit","rules":[{"t":"set","p":"payload.dataYield","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":600,"wires":[["be5b8b8a.326458"]]},{"id":"23291aa6.456186","type":"comment","z":"88f72503.c1d3d8","name":"populate table data ","info":"","x":510,"y":760,"wires":[]},{"id":"bc6ad719.b4d328","type":"link in","z":"4c5f72d.4b35f8c","name":"table load","links":["d746c99b.414958"],"x":315,"y":380,"wires":[["9dc17295.e728f"]]},{"id":"a40bdd75.deb53","type":"inject","z":"88f72503.c1d3d8","name":"trigger first data load","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.3","topic":"","payload":"{\"limit\":7,\"sort\":[{\"updated\":\"desc\"}]}","payloadType":"json","x":320,"y":800,"wires":[["dfa475ce.261d78"]]},{"id":"d746c99b.414958","type":"link out","z":"88f72503.c1d3d8","name":"table data","links":["bc6ad719.b4d328"],"x":715,"y":820,"wires":[]},{"id":"dfa475ce.261d78","type":"cloudant in","z":"88f72503.c1d3d8","name":"","cloudant":"","database":"data","service":"zero-hunger-kit-cloudant-1614911294117-3863","search":"_all_","design":"","index":"","x":580,"y":820,"wires":[["d746c99b.414958","f33357b4.b0eb08"]]},{"id":"6bd40761.c56178","type":"debug","z":"4c5f72d.4b35f8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":340,"wires":[]},{"id":"f33357b4.b0eb08","type":"debug","z":"88f72503.c1d3d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":740,"y":880,"wires":[]},{"id":"9dc17295.e728f","type":"function","z":"4c5f72d.4b35f8c","name":"","func":"msg.dStore = msg.payload;\nmsg.payload = [];\n\nmsg.payload = msg.dStore.map(element => {\n    \n    var dt = new Date(element.updated*1000);\n\n    return {\n        \"Updated\": dt.toUTCString(),\n        \"Yield Update\": element.dataYield\n    };\n});\n\n// msg.ui_control.tabulator.colums[{field:'Updated', sort:'desc'}];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":380,"wires":[["3136a75d.dd6998","6bd40761.c56178"]]},{"id":"8586f93.4651d08","type":"link out","z":"4c5f72d.4b35f8c","name":"clear table","links":["76abe502.0f6c0c"],"x":695,"y":600,"wires":[]},{"id":"76abe502.0f6c0c","type":"link in","z":"4c5f72d.4b35f8c","name":"table clear","links":["8586f93.4651d08"],"x":515,"y":420,"wires":[["3136a75d.dd6998","3ae09c0.f039c64"]]},{"id":"722256d7.d5f318","type":"link in","z":"88f72503.c1d3d8","name":"refresh table data","links":["3ae09c0.f039c64"],"x":235,"y":860,"wires":[["1b140a95.c7f195"]]},{"id":"1b140a95.c7f195","type":"function","z":"88f72503.c1d3d8","name":"refresh table ","func":"msg.payload = {\n    \"limit\": 7,\n    \"sort\": [\n        {\n            \"updated\": \"desc\"\n        }\n    ]\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":860,"wires":[["dfa475ce.261d78"]]},{"id":"3ae09c0.f039c64","type":"link out","z":"4c5f72d.4b35f8c","name":"refresh data","links":["722256d7.d5f318"],"x":575,"y":420,"wires":[]},{"id":"be5b8b8a.326458","type":"function","z":"4c5f72d.4b35f8c","name":"","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":600,"wires":[["8586f93.4651d08"]]},{"id":"a541d304.c621a","type":"ui_worldmap","z":"4c5f72d.4b35f8c","group":"d38f81c1.07894","order":0,"width":"0","height":"0","name":"","lat":"20.2961","lon":"85.8245","zoom":"12","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"deg","showgrid":"false","allowFileDrop":"false","path":"/worldmap","x":540,"y":140,"wires":[]},{"id":"3136a75d.dd6998","type":"ui_table","z":"4c5f72d.4b35f8c","group":"4b15af72.7c5fc","name":"data table ","order":1,"width":"8","height":"5","columns":[],"outputs":0,"cts":false,"x":620,"y":380,"wires":[]},{"id":"d52cf119.203f","type":"openweathermap","z":"88f72503.c1d3d8","name":"openweathermap","wtype":"current","lon":"","lat":"","city":"Bhubaneswar","country":"India","language":"en","x":470,"y":360,"wires":[["18d99790.a50328"]]},{"id":"c286cc61.39e7f","type":"twc-daily-forecast","z":"4c5f72d.4b35f8c","d":true,"name":"","range":"daily","locationtype":"geocode","location":"","lang":"en-US","units":"e","apikey":"","x":680,"y":720,"wires":[[]]},{"id":"73501d9c.791594","type":"inject","z":"60afae7.f61045","name":"Current PWS Observations","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":150,"y":100,"wires":[["33cd7447.122c6c"]]},{"id":"937fc0b7.497","type":"debug","z":"60afae7.f61045","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":100,"wires":[]},{"id":"33cd7447.122c6c","type":"pws-observations","z":"60afae7.f61045","name":"","stationid":"KKSOLMIT4","units":"m","apikey":"2d2a8372.cbd49c","x":570,"y":100,"wires":[["937fc0b7.497"]]},{"id":"af1d2f1a.8f7e4","type":"pws-observations","z":"60afae7.f61045","name":"","stationid":"KKSOLMIT4","units":"m","apikey":"2d2a8372.cbd49c","x":570,"y":140,"wires":[["599c27a0.c3109"]]},{"id":"599c27a0.c3109","type":"debug","z":"60afae7.f61045","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":140,"wires":[]},{"id":"f1e7b71e.c678c8","type":"pws-historical","z":"60afae7.f61045","name":"","stationid":"KKSOLMIT4","units":"e","date":"","range":"daily","apikey":"2d2a8372.cbd49c","x":560,"y":360,"wires":[["516905b9.895464"]]},{"id":"908313b6.1abcb","type":"inject","z":"60afae7.f61045","name":"PWS Historical Averages by Date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":360,"wires":[["f1e7b71e.c678c8"]]},{"id":"516905b9.895464","type":"debug","z":"60afae7.f61045","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":360,"wires":[]},{"id":"69912477.b08cd4","type":"pws-historical","z":"60afae7.f61045","name":"","stationid":"KKSOLMIT4","units":"e","date":"20191101","range":"hourly","apikey":"2d2a8372.cbd49c","x":560,"y":400,"wires":[["e6fb3331.8ff6a"]]},{"id":"98cba034.a050b8","type":"inject","z":"60afae7.f61045","name":"PWS Historical Hourly Averages by Date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":400,"wires":[["69912477.b08cd4"]]},{"id":"e6fb3331.8ff6a","type":"debug","z":"60afae7.f61045","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":400,"wires":[]},{"id":"296bfa4e.dddfce","type":"pws-historical","z":"60afae7.f61045","name":"","stationid":"KKSOLMIT4","units":"e","date":"20191101","range":"all","apikey":"2d2a8372.cbd49c","x":560,"y":440,"wires":[["76e67514.bc11a4"]]},{"id":"1c3c7b47.f47535","type":"inject","z":"60afae7.f61045","name":"PWS Historical All Data by Date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":440,"wires":[["296bfa4e.dddfce"]]},{"id":"76e67514.bc11a4","type":"debug","z":"60afae7.f61045","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":440,"wires":[]},{"id":"848d9977.07ee58","type":"comment","z":"60afae7.f61045","name":"Query PWS Current Conditions / Observations for any Personal Weather Station","info":"","x":320,"y":60,"wires":[]},{"id":"1797132e.1ef7ed","type":"comment","z":"60afae7.f61045","name":"Query Historical Data from any Personal Weather Station","info":"","x":250,"y":280,"wires":[]},{"id":"8a2848a7.6ae26","type":"inject","z":"60afae7.f61045","name":"Current PWS Observations elsewhere","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":190,"y":140,"wires":[["af1d2f1a.8f7e4"]]},{"id":"c7827503.8fb508","type":"pws-forecast","z":"60afae7.f61045","name":"","units":"e","locationtype":"postalKey","location":"07450:US","lang":"en-US","apikey":"2d2a8372.cbd49c","x":560,"y":560,"wires":[["6d89de08.f0c248"]]},{"id":"49e3776.bdaa108","type":"inject","z":"60afae7.f61045","name":"5 Day Forecast by Postal Code","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":560,"wires":[["c7827503.8fb508"]]},{"id":"6d89de08.f0c248","type":"debug","z":"60afae7.f61045","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":560,"wires":[]},{"id":"17903445.5b7ab4","type":"comment","z":"60afae7.f61045","name":"5 Day Forecast","info":"","x":120,"y":520,"wires":[]},{"id":"392330de.7153c","type":"pws-forecast","z":"60afae7.f61045","name":"","units":"e","locationtype":"geocode","location":"40.98,-74.1","lang":"en-US","apikey":"2d2a8372.cbd49c","x":560,"y":600,"wires":[["7b81d355.a0b26c"]]},{"id":"432be774.12d0b","type":"inject","z":"60afae7.f61045","name":"5 Day Forecast by GeoCode","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":600,"wires":[["392330de.7153c"]]},{"id":"7b81d355.a0b26c","type":"debug","z":"60afae7.f61045","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":600,"wires":[]},{"id":"75d8cd72.a54024","type":"pws-forecast","z":"60afae7.f61045","name":"","units":"e","locationtype":"iataCode","location":"EWR","lang":"en-US","apikey":"2d2a8372.cbd49c","x":560,"y":640,"wires":[["87899939.c0e55"]]},{"id":"62b30898.0cfef","type":"inject","z":"60afae7.f61045","name":"5 Day Forecast by IATA Airport Code","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":640,"wires":[["75d8cd72.a54024"]]},{"id":"87899939.c0e55","type":"debug","z":"60afae7.f61045","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":640,"wires":[]},{"id":"e82cab41.432088","type":"pws-forecast","z":"60afae7.f61045","name":"","units":"e","locationtype":"icaoCode","location":"KEWR","lang":"en-US","apikey":"2d2a8372.cbd49c","x":560,"y":680,"wires":[["8cba0c9a.e01db8"]]},{"id":"12816772.4e1731","type":"inject","z":"60afae7.f61045","name":"5 Day Forecast by ICAO Airport Code","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":680,"wires":[["e82cab41.432088"]]},{"id":"8cba0c9a.e01db8","type":"debug","z":"60afae7.f61045","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":680,"wires":[]},{"id":"bf93dbe9.883de","type":"pws-forecast","z":"60afae7.f61045","name":"","units":"e","locationtype":"placeid","location":"327145917e06d09373dd2760425a88622a62d248fd97550eb4883737d8d1173b","lang":"en-US","apikey":"2d2a8372.cbd49c","x":560,"y":720,"wires":[["b444366a.92aad8"]]},{"id":"66c30b69.feddb4","type":"inject","z":"60afae7.f61045","name":"5 Day Forecast by Postal Code","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":720,"wires":[["bf93dbe9.883de"]]},{"id":"b444366a.92aad8","type":"debug","z":"60afae7.f61045","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":720,"wires":[]},{"id":"cc26f90.d84b688","type":"comment","z":"60afae7.f61045","name":"Recent PWS Observations","info":"","x":170,"y":840,"wires":[]},{"id":"3f281a15.40c126","type":"inject","z":"60afae7.f61045","name":"7 Day PWS Daily Summary","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":880,"wires":[["6b62255f.7dd2ac"]]},{"id":"6b62255f.7dd2ac","type":"pws-7day-summary","z":"60afae7.f61045","name":"","stationid":"KKSOLMIT4","units":"e","apikey":"2d2a8372.cbd49c","x":580,"y":880,"wires":[["44b51394.d3d324"]]},{"id":"44b51394.d3d324","type":"debug","z":"60afae7.f61045","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":880,"wires":[]},{"id":"293a0680.115bea","type":"pws-7day-hourly","z":"60afae7.f61045","name":"","stationid":"KKSOLMIT4","units":"e","apikey":"2d2a8372.cbd49c","x":570,"y":920,"wires":[["6fec8552.3eda0c"]]},{"id":"d979058f.d75fd8","type":"inject","z":"60afae7.f61045","name":"7 Day PWS Hourly Summary","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":920,"wires":[["293a0680.115bea"]]},{"id":"6fec8552.3eda0c","type":"debug","z":"60afae7.f61045","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":920,"wires":[]},{"id":"f45a1e7d.a0286","type":"pws-1day-all","z":"60afae7.f61045","name":"","stationid":"KKSOLMIT4","units":"e","apikey":"2d2a8372.cbd49c","x":560,"y":960,"wires":[["1df48582.6949f2"]]},{"id":"1df48582.6949f2","type":"debug","z":"60afae7.f61045","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":960,"wires":[]},{"id":"cc71523b.ebb288","type":"inject","z":"60afae7.f61045","name":"1 Day All PWS Records","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":960,"wires":[["f45a1e7d.a0286"]]},{"id":"5875d07f.015118","type":"change","z":"60afae7.f61045","name":"Inject / test params","rules":[{"t":"set","p":"twcparams","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"twcparams.StationID","pt":"msg","to":"KNJRIDGE9","tot":"str"},{"t":"set","p":"date","pt":"msg","to":"futz","tot":"str"},{"t":"set","p":"twcparams","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"twcparams.date","pt":"msg","to":"1579560576859","tot":"num"},{"t":"set","p":"twcparams.date","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"twcparams.date","pt":"msg","to":"2020/01/20","tot":"str"},{"t":"set","p":"twcparams.date","pt":"msg","to":"2020-01-19","tot":"str"},{"t":"set","p":"twcparams.payload","pt":"msg","to":"20200118","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":320,"wires":[["f1e7b71e.c678c8"]]},{"id":"870c30f7.a5d8f8","type":"inject","z":"60afae7.f61045","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":320,"wires":[["5875d07f.015118"]]},{"id":"afd14094.616318","type":"inject","z":"60afae7.f61045","name":"Test","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":180,"wires":[["a0f90d1c.bd05"]]},{"id":"a0f90d1c.bd05","type":"change","z":"60afae7.f61045","name":"set msg.twcparams input vars","rules":[{"t":"set","p":"twcparams","pt":"msg","to":"{\"StationID\":\"KNJRIDGE9\",\"units\":\"E\"}","tot":"json"},{"t":"set","p":"twcparams.units","pt":"msg","to":"e","tot":"str"},{"t":"set","p":"twcparams.StationID","pt":"msg","to":"KNJRIDGE9","tot":"str"},{"t":"set","p":"twcparams.location","pt":"msg","to":"EWR","tot":"str"},{"t":"set","p":"twcparams.locationtype","pt":"msg","to":"iataCode","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":180,"wires":[["af1d2f1a.8f7e4","9e126936.ee05"]]},{"id":"9e126936.ee05","type":"debug","z":"60afae7.f61045","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"twcparams","targetType":"msg","x":820,"y":180,"wires":[]},{"id":"19b4b5.0071034c","type":"change","z":"60afae7.f61045","name":"set msg.twcparams input vars","rules":[{"t":"set","p":"twcparams","pt":"msg","to":"{\"StationID\":\"KNJRIDGE9\",\"units\":\"E\"}","tot":"json"},{"t":"set","p":"twcparams.units","pt":"msg","to":"e","tot":"str"},{"t":"set","p":"twcparams.StationID","pt":"msg","to":"KNJRIDGE9","tot":"str"},{"t":"set","p":"twcparams.location","pt":"msg","to":"EWR","tot":"str"},{"t":"set","p":"twcparams.locationtype","pt":"msg","to":"iataCode","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":760,"wires":[["bf93dbe9.883de"]]},{"id":"b9f838d0.e2d158","type":"inject","z":"60afae7.f61045","name":"Test","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":760,"wires":[["19b4b5.0071034c"]]},{"id":"fbc7d77a.a48c08","type":"comment","z":"60afae7.f61045","name":"TWC NowCast","info":"","x":140,"y":1020,"wires":[]},{"id":"c3ffdbe8.30d178","type":"twc-nowcast","z":"60afae7.f61045","name":"","units":"e","locationtype":"geocode","location":"40.98,-74.1","lang":"en-US","apikey":"2d2a8372.cbd49c","x":560,"y":1060,"wires":[["1aa3f73b.6758f9"]]},{"id":"26b6548d.4f6d14","type":"twc-nowcast","z":"60afae7.f61045","name":"","units":"e","locationtype":"geocode","location":"1","lang":"en-US","apikey":"2d2a8372.cbd49c","x":560,"y":1100,"wires":[["5be0ee64.95622"]]},{"id":"5eb4505a.0a19e","type":"change","z":"60afae7.f61045","name":"set msg.twcparams input vars","rules":[{"t":"set","p":"twcparams.units","pt":"msg","to":"e","tot":"str"},{"t":"set","p":"twcparams.location","pt":"msg","to":"40.98,-74.1","tot":"str"},{"t":"set","p":"twcparams.locationtype","pt":"msg","to":"geocode","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":1100,"wires":[["26b6548d.4f6d14"]]},{"id":"f4b9b75a.3dc67","type":"inject","z":"60afae7.f61045","name":"Test","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":1100,"wires":[["5eb4505a.0a19e"]]},{"id":"80bbfc91.cee928","type":"twc-nowcast","z":"60afae7.f61045","name":"","units":"m","locationtype":"postalKey","location":"07450:US","lang":"en-US","apikey":"2d2a8372.cbd49c","x":560,"y":1140,"wires":[["1fa6af15.e23cd9"]]},{"id":"df751055.93314","type":"twc-nowcast","z":"60afae7.f61045","name":"","units":"e","locationtype":"postalKey","location":"0","lang":"en-US","apikey":"2d2a8372.cbd49c","x":560,"y":1180,"wires":[["9310c61d.1946b8"]]},{"id":"192a73d3.39059c","type":"inject","z":"60afae7.f61045","name":"6 Hour Nowcast by GeoCode","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":260,"y":1060,"wires":[["c3ffdbe8.30d178"]]},{"id":"994c4860.ad4b18","type":"inject","z":"60afae7.f61045","name":"6 Hour Nowcast by Postal Code","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":250,"y":1140,"wires":[["80bbfc91.cee928"]]},{"id":"5ffb2617.162658","type":"change","z":"60afae7.f61045","name":"set msg.twcparams input vars","rules":[{"t":"set","p":"twcparams.units","pt":"msg","to":"e","tot":"str"},{"t":"set","p":"twcparams.location","pt":"msg","to":"07450:US","tot":"str"},{"t":"set","p":"twcparams.locationtype","pt":"msg","to":"postalKey","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":1180,"wires":[["df751055.93314"]]},{"id":"236c9d05.c5aa22","type":"inject","z":"60afae7.f61045","name":"Test","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":1180,"wires":[["5ffb2617.162658"]]},{"id":"1aa3f73b.6758f9","type":"debug","z":"60afae7.f61045","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":1060,"wires":[]},{"id":"5be0ee64.95622","type":"debug","z":"60afae7.f61045","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":1100,"wires":[]},{"id":"1fa6af15.e23cd9","type":"debug","z":"60afae7.f61045","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":1140,"wires":[]},{"id":"9310c61d.1946b8","type":"debug","z":"60afae7.f61045","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":1180,"wires":[]},{"id":"d2d665ce.c48898","type":"debug","z":"282fafd4.df968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":100,"wires":[]},{"id":"36df2040.dab0e8","type":"pws-observations","z":"282fafd4.df968","name":"","stationid":"KKSOLMIT4","units":"e","apikey":"ba693fed.4c01f8","x":590,"y":140,"wires":[["d2d665ce.c48898","b7babaaf.bb0448","b3dc9bd1.1c29f"]]},{"id":"384cef20.42b128","type":"pws-historical","z":"282fafd4.df968","name":"","stationid":"KKSOLMIT4","units":"e","date":"","range":"all","apikey":"ba693fed.4c01f8","x":520,"y":540,"wires":[["599bbba7.ab986c"]]},{"id":"887582a4.04a18","type":"debug","z":"282fafd4.df968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":500,"wires":[]},{"id":"36bc66ae.8b41fa","type":"comment","z":"282fafd4.df968","name":"Query PWS Current Conditions / Observations for any Personal Weather Station","info":"","x":320,"y":60,"wires":[]},{"id":"7c258cf.19a1ef4","type":"comment","z":"282fafd4.df968","name":"Query Historical Data from PWS","info":"","x":170,"y":500,"wires":[]},{"id":"27c10673.26a442","type":"pws-forecast","z":"282fafd4.df968","name":"","units":"e","locationtype":"postalKey","location":"07450:US","lang":"en-US","apikey":"ba693fed.4c01f8","x":400,"y":660,"wires":[["5c5bc36.005563c","fec4e447.6fa4d8","77f061a6.a3dd7"]]},{"id":"b7b794a8.d80fb8","type":"comment","z":"282fafd4.df968","name":"5 Day Forecast","info":"","x":120,"y":620,"wires":[]},{"id":"1a5eba9a.169b45","type":"comment","z":"282fafd4.df968","name":"Recent PWS Observations","info":"","x":150,"y":320,"wires":[]},{"id":"95f6a021.aa9ba8","type":"debug","z":"282fafd4.df968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":360,"wires":[]},{"id":"cf262cff.8843e","type":"debug","z":"282fafd4.df968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":360,"wires":[]},{"id":"4adddd56.4d9fc4","type":"ui_text_input","z":"282fafd4.df968","name":"","label":"Enter StationID","tooltip":"","group":"a91cd93c.4ca95","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":120,"y":100,"wires":[["a41d8185.128c7"]]},{"id":"a41d8185.128c7","type":"change","z":"282fafd4.df968","name":"","rules":[{"t":"set","p":"StationID","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":100,"wires":[["1d33165b.0656ea"]]},{"id":"8fd9fd9d.76cff","type":"ui_button","z":"282fafd4.df968","name":"","group":"a91cd93c.4ca95","order":2,"width":"6","height":"1","passthru":false,"label":"Current PWS Observations","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":140,"wires":[["6e439dd2.a9fbc4"]]},{"id":"6e439dd2.a9fbc4","type":"change","z":"282fafd4.df968","name":"Set twcparams","rules":[{"t":"set","p":"twcparams","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"twcparams.StationID","pt":"msg","to":"StationID","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":140,"wires":[["36df2040.dab0e8"]]},{"id":"1d33165b.0656ea","type":"debug","z":"282fafd4.df968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":100,"wires":[]},{"id":"7f93eff4.ad8d48","type":"ui_button","z":"282fafd4.df968","name":"","group":"1bba4345.fa4d15","order":1,"width":0,"height":0,"passthru":false,"label":"Today Forecast","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":660,"wires":[["27c10673.26a442"]]},{"id":"7af5ad2e.7e20ec","type":"ui_button","z":"282fafd4.df968","name":"","group":"a91cd93c.4ca95","order":7,"width":0,"height":0,"passthru":false,"label":"7 Day PWS Hourly Summary","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":360,"wires":[["3cc00f08.79528"]]},{"id":"9f3b16b0.6f231","type":"function","z":"282fafd4.df968","name":"Get HourlyAvgTemp","func":"if( typeof( msg.payload.observations) == 'undefined') {\n    return null;\n}\n\nvar HourlyAvgTempChart = [{\n    \"series\":[\"7 Day Hourly Summary\"],\n    \"data\":[[]],\n    \"labels\":[\"Hourly Avg Temp\"]\n}];\n\n\nfor( var i=0; i < msg.payload.observations.length; i++) {\n    AvgTemp = {\"x\":msg.payload.observations[i].epoch,\"y\":msg.payload.observations[i].imperial.tempAvg};\n    HourlyAvgTempChart[0].data[0].push(AvgTemp) ;\n}\n\nmsg.payload = HourlyAvgTempChart;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":400,"wires":[["95f6a021.aa9ba8","785597bb.acbdf8"]]},{"id":"785597bb.acbdf8","type":"ui_chart","z":"282fafd4.df968","name":"","group":"ada0ce32.b103c","order":2,"width":"12","height":"4","label":"7 Day PWS Hourly Avg Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":920,"y":400,"wires":[[]]},{"id":"89db0f5c.801e58","type":"ui_date_picker","z":"282fafd4.df968","name":"","label":"Historical Date","group":"a91cd93c.4ca95","order":4,"width":0,"height":0,"passthru":true,"topic":"","x":120,"y":540,"wires":[["7890ac05.5252bc"]]},{"id":"7890ac05.5252bc","type":"change","z":"282fafd4.df968","name":"Set twcparams","rules":[{"t":"set","p":"twcparams","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"twcparams.date","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"twcparams.StationID","pt":"msg","to":"StationID","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":540,"wires":[["384cef20.42b128","9825a586.39c16"]]},{"id":"9825a586.39c16","type":"debug","z":"282fafd4.df968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":500,"wires":[]},{"id":"599bbba7.ab986c","type":"change","z":"282fafd4.df968","name":"Historical Date AvgTemp ","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.observations[0].imperial.tempAvg","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":540,"wires":[["216575bf.741902","887582a4.04a18"]]},{"id":"216575bf.741902","type":"ui_gauge","z":"282fafd4.df968","name":"","group":"a91cd93c.4ca95","order":5,"width":0,"height":0,"gtype":"gage","title":"Historical Date AvgTemp","label":"F","format":"{{value}}","min":0,"max":"100","colors":["#0054ff","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1010,"y":540,"wires":[]},{"id":"e5d07e30.329da","type":"inject","z":"282fafd4.df968","name":"Hourly refresh","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":700,"wires":[["27c10673.26a442"]]},{"id":"5c5bc36.005563c","type":"function","z":"282fafd4.df968","name":"Narrative","func":"var Days = [];\nvar MyForecastStr;\nfor( var i=0; i < msg.payload.dayOfWeek.length; i++) {\n    MyForecastStr = msg.payload.dayOfWeek[i] +\" : \"+msg.payload.narrative[i];\n    Days.push(MyForecastStr)\n}\n\nreturn [{\"payload\":Days[0]},\n        {\"payload\":Days[1]},\n        {\"payload\":Days[2]},\n        {\"payload\":Days[3]},\n        {\"payload\":Days[4]},\n        {\"payload\":Days[5]}];","outputs":6,"noerr":0,"x":300,"y":760,"wires":[["d2b0178b.fa37e8","c6f84647.c727"],["d2b0178b.fa37e8","38c5e3a2.2f759c"],["d2b0178b.fa37e8","e6eeebc9.faf3d"],["d2b0178b.fa37e8","6061525a.e3fe14"],["d2b0178b.fa37e8","54c87a53.d9ec64"],["d2b0178b.fa37e8","2035f1f6.a56dbe"]]},{"id":"fec4e447.6fa4d8","type":"debug","z":"282fafd4.df968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":660,"wires":[]},{"id":"d2b0178b.fa37e8","type":"debug","z":"282fafd4.df968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":960,"wires":[]},{"id":"c6f84647.c727","type":"ui_text","z":"282fafd4.df968","group":"1bba4345.fa4d15","order":3,"width":"6","height":"2","name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":510,"y":720,"wires":[]},{"id":"38c5e3a2.2f759c","type":"ui_text","z":"282fafd4.df968","group":"1bba4345.fa4d15","order":5,"width":"6","height":"2","name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":510,"y":760,"wires":[]},{"id":"e6eeebc9.faf3d","type":"ui_text","z":"282fafd4.df968","group":"1bba4345.fa4d15","order":7,"width":"6","height":"2","name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":510,"y":800,"wires":[]},{"id":"6061525a.e3fe14","type":"ui_text","z":"282fafd4.df968","group":"1bba4345.fa4d15","order":9,"width":"6","height":"2","name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":510,"y":840,"wires":[]},{"id":"54c87a53.d9ec64","type":"ui_text","z":"282fafd4.df968","group":"1bba4345.fa4d15","order":11,"width":"6","height":"2","name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":510,"y":880,"wires":[]},{"id":"2035f1f6.a56dbe","type":"ui_text","z":"282fafd4.df968","group":"1bba4345.fa4d15","order":13,"width":"6","height":"2","name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":510,"y":920,"wires":[]},{"id":"97fe9121.6dbc48","type":"inject","z":"282fafd4.df968","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":400,"wires":[["3cc00f08.79528"]]},{"id":"eb564a5d.b01118","type":"ui_template","z":"282fafd4.df968","group":"1bba4345.fa4d15","name":"Weather Icon Image1","order":2,"width":"2","height":"2","format":"<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-4x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1020,"y":720,"wires":[[]]},{"id":"8d8a0f4c.d53668","type":"debug","z":"282fafd4.df968","name":"","active":true,"console":"false","complete":"payload","x":990,"y":960,"wires":[]},{"id":"77f061a6.a3dd7","type":"function","z":"282fafd4.df968","name":"Weather Icon","func":"// TWC forecast API suggests a Icon code to display with the narrative\n// Map the icon codes to Weather Lite icons. See\n// https://github.com/Paul-Reed/weather-icons-lite\nvar IconMapping=[ \"wi-darksky-tornado\", \"wi-hurricane\",\n\"wi-hurricane\",\"wi-owm-11d\",\"wi-owm-11d\",\n\"wi-wu-rain\",\"wi-wu-sleet\",\"wi-wu-sleet\",\"wi-wu-sleet\",\n\"wi-wu-rain\",\"wi-wu-chancesleet\",\"wi-wu-rain\",\"wi-wu-rain\",\n\"wi-wu-flurries\",\"wi-wu-flurries\",\"wi-wu-snow\",\"wi-wu-snow\",\n\"wi-wu-sleet\",\"wi-wu-sleet\",\"wi-sandstorm\",\"wi-wu-hazy\",\n\"wi-wu-hazy\",\"wi-wu-hazy\",\"wi-darksky-wind\",\"wi-darksky-wind\",\n\"wi-wu-sleet\",\"wi-wu-cloudy\",\"wi-wu-mostlycloudy\",\n\"wi-wu-mostlycloudy\",\"wi-wu-partlycloudy\",\"wi-wu-partlycloudy\",\n\"wi-wu-clear\",\"wi-wu-sunny\",\"wi-owm-02d\",\"wi-owm-02d\",\"wi-wu-rain\",\n\"wi-wu-sunny\",\"wi-darksky-thunderstorm\",\"wi-darksky-thunderstorm\",\"wi-wu-chancerain\",\n\"wi-owm-10d\",\"wi-wu-flurries\",\"wi-wu-snow\",\"wi-wu-snow\",\"wi-na\",\n\"wi-wu-chancerain\",\"wi-wu-snow\",\"wi-wu-tstorms\"];\n\n\nvar Icon=[];\nfor(i = 0; i<=msg.payload.daypart[0].iconCode.length; i+=2){\n    if( msg.payload.daypart[0].iconCode[i] !== null) {\n        Icon.push(IconMapping[msg.payload.daypart[0].iconCode[i]]);\n    } else {\n        // Evening half day? - use the alternate icon\n        Icon.push(IconMapping[msg.payload.daypart[0].iconCode[i+1]]);\n    }\n}\n\n//node.send({\"payload\":Icon})\nreturn [{\"payload\":Icon[0]},\n        {\"payload\":Icon[1]},\n        {\"payload\":Icon[2]},\n        {\"payload\":Icon[3]},\n        {\"payload\":Icon[4]},\n        {\"payload\":Icon[5]}];\n\n","outputs":6,"noerr":0,"x":750,"y":760,"wires":[["8d8a0f4c.d53668","eb564a5d.b01118"],["8d8a0f4c.d53668","71761249.14ae4c"],["8d8a0f4c.d53668","e9c1cf4f.1efb3"],["8d8a0f4c.d53668","95fe10b6.103008"],["8d8a0f4c.d53668","159f2e1d.f12802"],["8d8a0f4c.d53668","1c28ad07.583053"]]},{"id":"71761249.14ae4c","type":"ui_template","z":"282fafd4.df968","group":"1bba4345.fa4d15","name":"Weather Icon Image2","order":4,"width":"2","height":"2","format":"<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-4x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1020,"y":760,"wires":[[]]},{"id":"e9c1cf4f.1efb3","type":"ui_template","z":"282fafd4.df968","group":"1bba4345.fa4d15","name":"Weather Icon Image3","order":6,"width":"2","height":"2","format":"<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-4x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1020,"y":800,"wires":[[]]},{"id":"95fe10b6.103008","type":"ui_template","z":"282fafd4.df968","group":"1bba4345.fa4d15","name":"Weather Icon Image4","order":8,"width":"2","height":"2","format":"<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-4x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1020,"y":840,"wires":[[]]},{"id":"159f2e1d.f12802","type":"ui_template","z":"282fafd4.df968","group":"1bba4345.fa4d15","name":"Weather Icon Image5","order":10,"width":"2","height":"2","format":"<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-4x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1020,"y":880,"wires":[[]]},{"id":"1c28ad07.583053","type":"ui_template","z":"282fafd4.df968","group":"1bba4345.fa4d15","name":"Weather Icon Image6","order":12,"width":"2","height":"2","format":"<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-4x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1020,"y":920,"wires":[[]]},{"id":"e4380e97.48866","type":"pws-7day-hourly","z":"282fafd4.df968","name":"","stationid":"KKSOLMIT4","units":"e","apikey":"ba693fed.4c01f8","x":430,"y":400,"wires":[["cf262cff.8843e","9f3b16b0.6f231"]]},{"id":"3cc00f08.79528","type":"change","z":"282fafd4.df968","name":"Set twcparams","rules":[{"t":"set","p":"twcparams","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"twcparams.StationID","pt":"msg","to":"StationID","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":360,"wires":[["e4380e97.48866"]]},{"id":"7bbfbf86.8f9658","type":"comment","z":"282fafd4.df968","name":"One time - Add Map to Dashboard","info":"","x":180,"y":220,"wires":[]},{"id":"79b761e2.440c78","type":"inject","z":"282fafd4.df968","name":"Init WorldMap","repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"true","payloadType":"bool","x":230,"y":260,"wires":[["982eedd1.509c58","8285c7b2.4d23b8"]]},{"id":"d54f125f.e6a1a","type":"ui_template","z":"282fafd4.df968","group":"ada0ce32.b103c","name":"Embedded Map","order":1,"width":"12","height":"8","format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":660,"y":260,"wires":[[]]},{"id":"b1cccbd5.a704d8","type":"worldmap","z":"282fafd4.df968","name":"","lat":"38.628896","lon":"-98.918853","zoom":"5","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","path":"/weathermap","x":990,"y":220,"wires":[]},{"id":"c6e23e3.7c6be4","type":"change","z":"282fafd4.df968","name":"Default map","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{\"command\":{\"layer\":\"OSM\",\"lat\":41.2417,\"lon\":-99.3829,\"zoom\":4,\"addtoheatmap\":true,\"autopan\":true,\"clear\":\"OSM\",\"map\":{\"name\":\"OSM\",\"url\":\"http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png\",\"opt\":{\"MaxZoom\":18,\"attribution\":\"&copy; OpenStreetMap\"}}}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":220,"wires":[["b1cccbd5.a704d8"]]},{"id":"982eedd1.509c58","type":"delay","z":"282fafd4.df968","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":220,"wires":[["c6e23e3.7c6be4"]]},{"id":"b7babaaf.bb0448","type":"function","z":"282fafd4.df968","name":"Plot on Map","func":"if( typeof(msg.payload.observations) == 'undefined') {\n    return null;\n}\n\nvar weather = {};\nif( typeof( msg.payload.observations[0].metric) != 'undefined') {\n    weather = msg.payload.observations[0].metric;\n    delete msg.payload.observations[0].metric\n} else if( typeof( msg.payload.observations[0].imperial) != 'undefined') {\n    weather = msg.payload.observations[0].imperial;\n    delete msg.payload.observations[0].imperial\n} else if( typeof( msg.payload.observations[0].uk_hybrid) != 'undefined') {\n    weather = msg.payload.observations[0].uk_hybrid;\n    delete msg.payload.observations[0].uk_hybrid\n}\nfor (const [key, value] of Object.entries(weather)) {\n    // Move the key/value pairs up so they appear nicely in the marker popup\n    msg.payload[key]=value;\n}\n\nfor (const [key, value] of Object.entries(msg.payload.observations[0])) {\n    // Move the key/value pairs up so they appear nicely in the marker popup\n    msg.payload[key]=value;\n}\ndelete msg.payload.observations;\n\n\nmsg.payload.name = msg.twcparams.StationID;\nmsg.payload.icon = \"globe\";\nif( msg.payload.temp > 60 ) {\n    msg.payload.iconColor = \"red\";\n} else {\n    msg.payload.iconColor = \"orange\";\n}\n\nmsg.payload.command = { zoom:6, \n                            \"lat\":msg.payload.lat,\n                            \"lon\":msg.payload.lon,\n                            autopan:true };\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":180,"wires":[["b1cccbd5.a704d8"]]},{"id":"8285c7b2.4d23b8","type":"change","z":"282fafd4.df968","name":"Inject /weathermap","rules":[{"t":"set","p":"payload","pt":"msg","to":"<iframe src=\"/weathermap\" height=412px width=624px ></iframe>","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":260,"wires":[["d54f125f.e6a1a"]]},{"id":"a74bb8bb.139fc8","type":"ui_table","z":"282fafd4.df968","group":"ada0ce32.b103c","name":"","order":3,"width":"12","height":"4","columns":[{"field":"observations","title":"Observations","width":"50%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"results","title":"Results","width":"48%","align":"right","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":970,"y":140,"wires":[]},{"id":"b3dc9bd1.1c29f","type":"function","z":"282fafd4.df968","name":"Build Table","func":"if( typeof(msg.payload.observations) == 'undefined') {\n    return null;\n}\n\nvar TableArray = [];\nfor (const [key, value] of Object.entries(msg.payload.observations[0])) {\n  var TableEntry = {};\n  TableEntry.observations = key ;\n  TableEntry.results = value ;\n  TableArray.push( TableEntry );\n}\n\nvar weather = {};\nif( typeof( msg.payload.observations[0].metric) != 'undefined') {\n    weather = msg.payload.observations[0].metric;\n} else if( typeof( msg.payload.observations[0].imperial) != 'undefined') {\n    weather = msg.payload.observations[0].imperial;\n} else if( typeof( msg.payload.observations[0].uk_hybrid) != 'undefined') {\n    weather = msg.payload.observations[0].uk_hybrid;\n}    \n   \nfor (const [key, value] of Object.entries(weather)) {\n    var TableEntry = {};\n    TableEntry.observations = key ;\n    TableEntry.results = value ;\n    TableArray.push( TableEntry );\n}\n\nmsg.payload = TableArray;\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":140,"wires":[["a74bb8bb.139fc8"]]},{"id":"71f301e5.36dca","type":"inject","z":"88f72503.c1d3d8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":160,"wires":[["370aeec.51b7612"]]},{"id":"1e82fcf9.803ae3","type":"function","z":"88f72503.c1d3d8","name":"","func":"msg.payload = msg.payload.description;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":160,"wires":[["1224d1a6.31549e","ec4b20fb.9f9f6"]]},{"id":"ec4b20fb.9f9f6","type":"twilio out","z":"88f72503.c1d3d8","twilio":"d7f16178.de2","twilioType":"sms","url":"","number":"+919403347504","name":"Twilio","x":890,"y":140,"wires":[]},{"id":"370aeec.51b7612","type":"openweathermap","z":"88f72503.c1d3d8","name":"openweathermap","wtype":"current","lon":"","lat":"","city":"Bhubaneswar","country":"India","language":"en","x":430,"y":160,"wires":[["1e82fcf9.803ae3"]]},{"id":"1224d1a6.31549e","type":"debug","z":"88f72503.c1d3d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":240,"wires":[]},{"id":"52d036e8.a691f8","type":"comment","z":"88f72503.c1d3d8","name":"Twilio SMS","info":"","x":300,"y":60,"wires":[]}]